* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container__menu {
    color: #FFFFFF;
    background: url(../assets/background.svg);
}

.logo {
    width: 8%;
    height: auto;
    margin: 25px 0 0 30px;
}

.titulo__menu {
    margin: 50px 0 0 90px;
}

.titulo__texto {
    margin: 35px 0 0 90px;
    padding-bottom: 50px;
}

.container__menu-institucional {
    display: flex;
    justify-content: space-between;
    background-color: #EAECE5;
    padding: 25px 90px;
}

.texto__menu-institucional {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.icone {
    width: 20px;
}

.container__video {
    display: flex;
    align-items: center;
    margin: 50px 50px 50px 90px;
    gap: 50px;
}

.video__titulo {
    color: #247BA0;
    font-size: 26px;
}

.video__texto { 
    color: #383838;
}

.carrossel {
    padding: 50px 25px;
    background-color: #247BA0;
}

.carrossel h3 {
    color: #FFFFFF;
    text-align: center;
}

.carrossel-imagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin-top: 25px;
    max-width: 40%;

}

.seta {
    max-width: 5%;
    cursor: pointer;
}

.seta:hover {
    transform: translateY(-2px);
    transition: 0.2s;
}

.oculto {
    display: none;
}